html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: -ms-box;
    -ms-box-orient: vertical;
    -ms-box-pack: center;
    -ms-box-align: middle;
}

.fixed-layout {
    width: 1024px;
    height: 768px;
}

.container  {
	background-color:#716666;
	border: 5px solid #514d4d;
	height:640px;
	padding:12px;
	width:450px;
	margin: 50px auto;
    position: relative;
    /*display: block;*/
    overflow: hidden;
}

.black-div{
background:black;
    width:125px;
    height:125px;
    opacity:0.3;
    background-color:#716666;
}

.imgContainer{
    width: 130px;
	height: 130px;
    float:left;
}

.droppable {
	width: 130px;
	height: 130px;
	padding: 2px;
	float: left;
	margin: 5px;
	background-color: Black;
	border:2px solid #999;
}

.block {
    position: relative;
    width: 320px;
    height: 260px;
    display: block;
    margin: 0 auto;
    overflow: hidden;
}
.slidemeup{
    /* layout */
    position: absolute;
    bottom: 300px;
    display: none;
    width: 1024px;
    height: 140px;
    
    /* Styling */
    color:white;
    background-color:#284b6d;
    font: bold 35px/23px Helvertica,Arial,sans-serif;
    -webkit-box-shadow: 0 1px 5px #fff;
    -moz-box-shadow: 0 1px 5px #fff;
    box-shadow: 0 1px 5px #fff;
    border: 3px solid black;
    text-align:center;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    text-shadow:0 0 5px #CCCCCC, 0 0 10px #CCCCCC, 0 0 15px #CCCCCC, 0 0 20px #095816, 0 0 25px #095816, 
        0 0 30px #095816, 0 0 50px #095816, 0 0 80px #095816, 0 0 100px #095816, 0 0 150px #095816; 
}

.dragactive{
	background-color: #ffcccc;
	border: 1px dashed #e5a8a8;
}
.drophover{
	background-color: #d5eca6;
	border: 1px dotted #c7dd9b;
}
.drophighlight{
	background-color: #cae9ec;
	border: 1px solid #b9d5d8;
}

@media screen and (-ms-view-state: full-screen)
{
 
}

@media screen and (-ms-view-state: fill)
{

}

@media screen and (-ms-view-state: snapped)
{

}
		
@media screen and (-ms-view-state: device-portrait)
{

}